* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Sansita Swashed', 'Sans-serif';
}

/* Header */
header {
    font-family: Grandstander, 'Sans-serif';
    text-align: center;
    color: palevioletred;
}

h1 {
    font-size: 500%;
}

p {
    font-size: 150%;
}

/* The Gameboard */

.board {
    width: 90%;
    box-shadow: 0 0 5px 1px;
    display: flex;
    margin-top: 10px;
    margin-left: 5%;
}

/* Boxes that hold each score */

.score {
    height: 15px;
    width: 15px;
    border: 1px solid black;
    text-align: center;
    margin-right: 15px;
    float: right;
    line-height: 15px;
    vertical-align: middle;
}

/* High Score */

#highest-score {
    margin-left: 5%;
}

#high-score-total {
    float: none;
}

/* Individual Gameboards */

.game-board {
    width: 50%;
    float: left;
}

.upper-scores,
.lower-scores {
    border: 1px solid black;
    padding-left: 5px;
}

/* Total Score */

#total-score {
    clear: left;
    margin-left: 5%;
}

.final-scores {
    float: none;
    position: absolute;
    left: 15%;
}

/* Dice */

#dice-area {
    text-align: center;
}

.one {
    background: url(../images/dice-face-1.jpg);
}

.two {
    background: url(../images/dice-face-2.jpg);
}

.three {
    background: url(../images/dice-face-3.jpg);
}

.four {
    background: url(../images/dice-face-4.jpg);
}

.five {
    background: url(../images/dice-face-5.jpg);
}

.six {
    background: url(../images/dice-face-6.jpg);
}

.dice {
    height: 50px;
    width: 50px;
    background-size: cover;
    margin-left: 5px;
    display: inline-block;
    box-shadow: inset 0 0 5px 2px;
}

.dice :hover,
#roll-dice :hover,
.selectable :hover {
    cursor: pointer;
}

#roll-dice {
    display: inline-block;
    border-radius: 5px;
    padding: 0 1px;
    box-shadow: 0 0 5px 1px;
    margin: 5px 0 2px 0;
}