@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@900&family=Sansita+Swashed&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Sansita Swashed', 'Sans-serif';
    background: #f4f0ef;
}

/* Header */
header {
    font-family: Grandstander, 'Sans-serif';
    text-align: center;
    color: palevioletred;
    margin-top: 5px;
    text-shadow: 5px 5px 5px gray;
}

h1 {
    font-size: 500%;
}

p {
    font-size: 150%;
}

#rules-button {
    position: absolute;
    left: 10px;
    top: 10px;
    color: black;
    box-shadow: 0 0 5px 1px;
    text-shadow: none;
    padding: 5px;
}

/* Game rules */

.rules-and-strats {
    width: 80%;
    margin-left: 10%;
    position: fixed;
    z-index: 2;
    display: none;
    background: #000000d0;
    color: white;
    overflow: scroll;
    height: 80%;
    top: 10%;
    font-size: 90%;
    padding: 5px;
}

h2 {
    text-decoration: underline;
}

li {
    list-style-type: square;
    margin-left: 15px;
    border-bottom: 1px solid white;
}

.rules,
.basics,
.advanced {
    display: none;
    margin-bottom: 5px;
}

.display {
    display: block;
}

.example {
    box-shadow: inset 0 0 5px 1px white;
    margin: 0 5px;
    padding: 5px 10px;
}

.example-score {
    margin-top: 5px;
    border-color: white;
    font-size: 60%;
}

#close {
    float: right;
    padding: 0 5px 5px 5px;
    box-shadow: inset 0 0 5px 1px;
}

.central {
    text-align: center;
    text-decoration: underline;
    font-size: 150%;
}

.exception {
    font-size: 150%;
    font-style: italic;
}

button {
    color: white;
    background: black;
    box-shadow: inset 0 0 5px 2px;
    padding: 5px;
    border-radius: 4px;
}

a {
    text-decoration: none;
    padding: 5px;
    color: white;
    border-radius: 5px;
    box-shadow: inset 0 0 5px 2px;
}

/* The Gameboard */

.board {
    width: 90%;
    box-shadow: 0 0 5px 1px;
    display: flex;
    margin-top: 10px;
    margin-left: 5%;
    border-radius: 5px;
}

/* Boxes that hold each score */

.score {
    height: 17px;
    width: 17px;
    border: 1px solid;
    text-align: center;
    margin-right: 2%;
    float: right;
    line-height: 15px;
    vertical-align: middle;
}

.selectable {
    color: gray;
    border-color: black;
}

.selected {
    color: black;
    font-weight: bolder;
}

/* When the scores are over 100 */

.expanded {
    width: 27px;
}

/* High Score */

#highest-score {
    margin-left: 5%;
}

#high-score-total {
    float: none;
}

/* Individual Gameboards */

.game-board {
    width: 50%;
    float: left;
}

.left-scores,
.right-scores {
    border: 1px solid black;
    padding-left: 5px;
}

#left-scores-total {
    border-radius: 0 0 0 5px;
}

/* Bonus points info */

#info {
    margin-left: 5%;
}

/* Total Score */

#total-score {
    clear: left;
    margin-left: 5%;
}

.final-scores {
    float: none;
    position: absolute;
    left: 15%;
}

/* Dice */

#dice-area {
    text-align: center;
    margin-top: 5px;
}

.one {
    background: url(../images/dice-face-1.jpg);
}

.two {
    background: url(../images/dice-face-2.jpg);
}

.three {
    background: url(../images/dice-face-3.jpg);
}

.four {
    background: url(../images/dice-face-4.jpg);
}

.five {
    background: url(../images/dice-face-5.jpg);
}

.six {
    background: url(../images/dice-face-6.jpg);
}

.dice,
.dice-example {
    height: 50px;
    width: 50px;
    background-size: cover;
    margin-left: 5px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: inset 0 0 5px 2px black;
    box-sizing: border-box;
}

.hold {
    border: 3px solid red;
}

#roll-dice,
#new-game {
    display: inline-block;
    border-radius: 5px;
    padding: 0 1px;
    box-shadow: 0 0 5px 1px;
    margin: 5px 2px;
}

/* New game button */

#new-game {
    display: none;
}

/* Psuedo elements */

.dice:hover,
#roll-dice:hover,
.selectable:hover,
#new-game:hover,
#rules-button:hover,
#close:hover,
button:hover {
    cursor: pointer;
}

.active,
button:hover,
#close:hover,
a:hover {
    color: black;
    background: white;
}

.selectable:hover {
    border-color: red;
    box-shadow: inset 0 0 1px 0;
}

#roll-dice:active,
#new-game:active,
#rules-button:active,
a:active {
    box-shadow: inset 0 0 5px 1px;
}

#close:active,
button:active {
    box-shadow: inset 0 0 10px 2px;
}

/* Media Queries */

/* 800px width or less */

@media screen and (max-width: 800px) {
    .final-scores {
        left: 20%;
    }

    header {
        margin-top: 35px;
    }
}

/* 550px width or less */

@media screen and (max-width: 550px) {
    .final-scores {
        left: 30%;
    }
}

/* 460px width or less */

@media screen and (max-width: 460px) {
    .hold {
        border-width: 2px;
    }

    .dice-example {
        height: 30px;
        width: 30px;
        border-radius: 5px;
    }

    nav>button {
        display: block;
    }

    h1 {
        font-size: 400%;
    }
}

/* 320px width or less */

@media screen and (max-width: 320px) {
    .final-scores {
        left: 35%;
    }
}