* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Sansita Swashed', 'Sans-serif';
}

/* Header */
header {
    font-family: Grandstander, 'Sans-serif';
    text-align: center;
    color: palevioletred;
}

h1 {
    font-size: 500%;
}

p {
    font-size: 150%;
}

/* Boxes that hold each score */

.score {
    height: 15px;
    width: 15px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    padding-bottom: 5px;
}

/* Gameboard */

.game-board {
    width: 50%;
    float: left;
}